<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, aliquid? Molestiae sunt quibusdam nam sapiente vero aliquid saepe ullam. Sapiente magni eius impedit eaque nobis, labore perferendis? Nulla, a assumenda?</p>
  </div>
</section>