<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>This Notes App is a simple, yet powerful tool designed to help you store and manage your ideas, tasks, and reminders. Built using modern technologies like JavaScript, Node.js, MongoDB, and Handlebars, this project serves as both a practical tool and a learning experience. Whether you're working on a personal note or need to keep track of important tasks, this app provides an easy and efficient way to do so. Feel free to explore and start creating your own notes today!</p>
  </div>
</section>