
<div class="jumbotron mt-4">
  <h1 class="display-4">Note App Nodejs and Mongodb</h1>
  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, libero nesciunt delectus deleniti vel provident!</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat adipisci nesciunt deleniti explicabo veritatis cupiditate excepturi inventore corporis, asperiores dolorum!</p>
  <a href="https://github.com/Atila-Cristian" class="btn btn-primary">My GitHub</a>
</div>

