
<div class="jumbotron mt-4">
  <h1 class="display-4">Notes app made with Node.js and MongoDB.</h1>
  <p class="lead">Welcome to your Notes App. Save and edit your ideas quickly and easily. Start creating your notes today!</p>
  <hr class="my-4">
  <p>Educational project developed using technologies like JavaScript, Node.js, MongoDB, and Handlebars. Special thanks to the tutorial that guided the creation of this project. <a href="https://www.youtube.com/@FaztCode">Fazt Code</a></p>
  <a href="https://github.com/Atila-Cristian" class="btn btn-primary">My GitHub</a>
</div>

